@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(rgb(223, 223, 223), rgb(185, 185, 185));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  position: relative;
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all .5s ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
  filter: drop-shadow(2px 2px 2px #111);
}

button {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #111;
  border-radius: 5px;
  padding: 13px 17px;
  transition: filter .3s ease-in-out;
}

button:hover {
  filter: drop-shadow(0px 1px 1px cyan);
}

button:active {
  padding: 15px 17px 11px;
}